<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FILMSNOB</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>
	<body id="filmPage">
        
		<body>
<style>
    
   body {
  font-family: Arial, Helvetica, sans-serif;
  background: #141414;

}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 3px 5px 3px 13px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#sideNavSub {
    font-size: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

#film_poster {
    width: 30vw ;
    height: auto;
}

.navbar {
  font-size: 18px;
}

.currentPage {
  top: 120px;
  color: #f1f1f1;
}

.card {
  top: 100px
}

.card-title{
  font: bold;
}


</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand"  href=""> <img src="https://raw.githubusercontent.com/ERMM-Industries/project-2/admin/public/styles/img/filmSnobLogo2.png" width="120" height="auto" class="d-inline-block align-top" alt="" loading="lazy"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/account">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/watchlist">Watchlist</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/reviewed">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/community">Community</a>
      </li>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Log out</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="sidenav">
  <a href="/account">Billy Mayes</a>
  <a href="/community">FellowSnobs</a>
  <a href="/reviewed">Awards</a>
  <a id="sideNavSub" href="/reviewed/:id">Oscar Worthy: <p id="oscarWorthyCount">2</p></a>
  <a id="sideNavSub" href="/reviewed/:id">Blockbuster: <p id="blockbusterCount">4</p></a>
  <a id="sideNavSub" href="/reviewed/:id">Collecting Dust: <p id="collDustCount">1</p></a>
  <a id="sideNavSub" href="/reviewed/:id">Bargain Bin: <p id="bargBinCount">5</p></a>
  <a id="sideNavSub" href="/reviewed/:id">Dumpster Fire: <p id="dumpFiCount">9</p></a>
  <a id="sideNavSub" href="/reviewed/:id">Walked Out: <p id="walkOutCount">15</p></a>
  <a href="/watchlist">Watchlist</a>
  <a id="sideNavSub" href="/film/:id">1. <p id="oneWatch">Casablanca</p></a>
  <a id="sideNavSub" href="/film/:id">2. <p id="twoWatch">Blade Runner 2049</p></a>
<a id="sideNavSub" href="/film/:id">3. <p id="threeWatch">Visitor Q</p></a>
  
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h2 class="filmPage">Spotlight: <p id="film_title"></p></h2>
      </div>
  <div class="row">
    <div class="col-sm-6"><div class="card" style="width: 35rem; ">
  <img src="https://www.hometheaterseattle.com/assets/images/movies/casablanca-movie-1942.jpg" id="film_poster" class="card-img-top;" alt="">
  
    </div>
    </div>

    <div class="col-sm-6">
      <div class="card" style="width: 35rem; ">
  <div class="card text-center">
  <div class="card-header">
    <h5 class="card-title" id="film_title">Casablanca</h5>
  </div>
  <div class="card-body">
    
    <a href="#" class="btn btn-primary">Add to watchlist</a>
    <div class="card-body">

    <div class="dropdown">
  <button class="dropdown-toggle btn btn-dark span: full" data-toggle="dropdown" type="button span: full" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Awards
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Oscar worthy</a>
    <a class="dropdown-item" href="#">Blockbuster</a>
    <a class="dropdown-item" href="#">Colecting Dust</a>
    <a class="dropdown-item" href="#">Bargin Bin</a>
    <a class="dropdown-item" href="#">Dumpster Fire</a>
    <a class="dropdown-item" href="#">Walked Out</a>
  </div>
</div>
    
  </div>
  </div>
  
  
<br>
  <div class="card-footer" id="production">
    Warner Bros. Pictures
  </div>
</div>
  <div class="card-body">
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Plot Summary: <p class="plot_summary">A cynical American expatriate struggles to decide whether or not he should help his former lover and her fugitive husband escape French Morocco.</p></li>
    <br>
    <li class="list-group-item">Release date: <p class="release_date">23 Jan 1943</p></li>
    <br>
    <li class="list-group-item">Film rating: <p class="film_rating">PG</p></li>
    <br>
    <li class="list-group-item">Director: <p class="director">Michael Curtiz</p></li>
    <br>
    <li class="list-group-item">Actors: <p class="actors">Humphrey Bogart, Ingrid Bergman, Paul Henreid, Claude Rains</p></li>
    <br>
    <li class="list-group-item">Run time: <p class="run_time">102 min</p></li>
    <br>
    <li class="list-group-item">Box Office: <p class="box_office">N/A</p></li>
    <br>
    <li class="list-group-item">Awards: <p class="actors">Won 3 Oscars. Another 5 wins & 9 nominations.</p></li>
  </ul>
  <div class="card-body">
    <a href="/watchlist" class="card-link">Watchlist</a>
    <a href="/reviewed" class="card-link">Reviews</a>
    <a href="/community" class="card-link">Community</a>
  </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
      <div id='hold_images'></div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    </div>
    </div>
  </div>
</div>


   <script>
     $(document).ready(function(){
       $('.dropdown-toggle').dropdown()
     });
   </script>


	</body>

</html>


