<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FILMSNOB</title>
	</head>
	<body id="landingPage">
		<div class="login-form">
			<h1>Login to FILMSNOB</h1>
			<form action="auth" method="POST">
				<div id="loginBox">
				<p>Username:</p><input type="text" name="username" placeholder="Username" required>
				<p>Password:</p><input type="password" name="password" placeholder="Password" required>
				</div>
				<input type="submit"><button id="createaccount">Create New Account</button>
			</form>
      
		</div>
	</body>
</html>
