<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FILMSNOB</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">$('#exampleModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})</script>
	</head>
	<body id="landingPage">
		<div class="login-form">
			
			<img id="indexLogo" src="https://raw.githubusercontent.com/ERMM-Industries/project-2/admin/public/styles/img/filmSnobLogo2.png" alt="FilmSnob">
			<form action="auth" method="POST">
				<div id="loginBox">
				<p>Username:</p><input type="text" name="username" placeholder="Username" required>
				<p>Password:</p><input type="password" name="password" placeholder="Password" required>
				</div>
			</form>

            <br>

				
		
			
		</div>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submit" data-whatever="@mdo">Submit</button>

	</body>
	<script>
		$('#exampleModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
	</script>
</html>

<form action="auth" method="POST">

