<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FILMSNOB</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <script src='http://azlejs.com/v2/azle.min.js'></script>
	</head>
	<body id="watchlistPage">
        <style>
            body {
                margin: 0;
            }
            .wrapper {
                display: grid;
                grid-template-columns: repeat(3,100%);
                
            }
            section {
                width: 100%;
                /*height: 100px;*/
                position: relative;
                
                

                &:nth-child(1) {
                    background: #7be0acl;
                }

                &:nth-child(2) {
                    background: #7be0acl;
                }

                &:nth-child(3) {
                    background: #7be0acl;
                }
            }
            
            a {
                position:absolute;
                color: #fff;
                text-decoration: none;
                font-size: 6em;
                background: rgb(0,0,0) ;
                width: 80px;
                padding: 20px;
                text-align: center;
                z-index: 1;

                &:nth-of-type(1){
                    top: 0; bottom: 0; left: 0;
                    background: linear-gradient(-90deg,rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
                }
                &:nth-of-type(2){
                    top:0; bottom: 0; right: 0;
                    background: linear-gradient(-90deg,rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
                }
            }
        </style>
		<body>

            <div class="wrapper">
                <section id="section1">
                    <a href="#section3"></a>
                    <div class="item">
                        <img src="https://occ-0-116-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABQjNneWs0FW15zkfazr9Vl_rQtlEOSur1f897sgv6sGFZn7iFqamEAqNMX4yUmQB8m0CNWUL9HAwGN_T07Qb1W3zR_0uPbOBHWN0b5IwOZjkgMRDztlm3GYu7IGN.jpg?r=c52" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="https://occ-0-116-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABQjNneWs0FW15zkfazr9Vl_rQtlEOSur1f897sgv6sGFZn7iFqamEAqNMX4yUmQB8m0CNWUL9HAwGN_T07Qb1W3zR_0uPbOBHWN0b5IwOZjkgMRDztlm3GYu7IGN.jpg?r=c52" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="https://occ-0-116-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABQjNneWs0FW15zkfazr9Vl_rQtlEOSur1f897sgv6sGFZn7iFqamEAqNMX4yUmQB8m0CNWUL9HAwGN_T07Qb1W3zR_0uPbOBHWN0b5IwOZjkgMRDztlm3GYu7IGN.jpg?r=c52" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="https://occ-0-116-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABQjNneWs0FW15zkfazr9Vl_rQtlEOSur1f897sgv6sGFZn7iFqamEAqNMX4yUmQB8m0CNWUL9HAwGN_T07Qb1W3zR_0uPbOBHWN0b5IwOZjkgMRDztlm3GYu7IGN.jpg?r=c52" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="https://occ-0-116-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABQjNneWs0FW15zkfazr9Vl_rQtlEOSur1f897sgv6sGFZn7iFqamEAqNMX4yUmQB8m0CNWUL9HAwGN_T07Qb1W3zR_0uPbOBHWN0b5IwOZjkgMRDztlm3GYu7IGN.jpg?r=c52" alt="Poster">
                    </div>
                    <a href="#section2"></a>
                </section>
                <section id="section2">
                    <a href="#section1"></a>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <a href="#section3"></a>
                </section>
                <section id="section3">
                    <a href="#section2"></a>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <div class="item">
                        <img src="" alt="Poster">
                    </div>
                    <a href="#section1"></a>
                </section>
            </div>

   
</body>
</html> 

	</body>
</html>


